.icn {
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.play-icn {
    background-image: url('music_control_play.png');
}

.pause-icn {
    background-image: url('music_control_pause.png');
}

.stop-icn {
    background-image: url('music_control_stop.png');
}